*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: georgia, serif;
	line-height: 2.0;
	background-color: #fff;
	color: #1c1c1c;
	padding: 20px;
}

header{
	background: #191919;
	border: 2px  solid #000;
	color: #fff;
	padding: 25px;
	text-align: center;
	margin-bottom: 25px;
	font-family: georgia, serif;
}

header h1{
	margin: 0;
	font-family: georgia, serif;
}
video{
	margin-top: 20px;
}
nav {
	margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

nav p{
	padding-right: 250px;
}

nav ul{
	list-style: none;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-right: 80px;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 5px;
	border-radius: 3px;
	transition: background-color 0.3s ease;
	list-style: none;
    cursor: pointer;
    background-color: #191919;
    font-family: georgia, serif;

}

nav ul li a:hover{
	 background-color: #4b4b4b;

}
.develop {
    position: relative;
    background-color: #191919;
    font-family: georgia, serif;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1vw;
}

.ul-second > li a {
    width: 200px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #191919;
    font-family: georgia, serif;
}


.develop:hover > .ul-second {
    display: block;
    background: #191919;

}

.content-box{
	background: #191919;
	border: 2px  solid #000;
	padding: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.content-box p{
	font-family: georgia, serif;
	text-align: center;
}


footer{
	background: #191919;
	color: #fff;
	text-align: center;
	padding: 0.8px 0;
	margin-top: 15px;
	border: 2px  solid #000;
}
